<html>
    <head>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="list">
            <table class="table-blue">
                <thead>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Downloads</th>
                </thead>
                <tbody>
                    <tr>
                        <td>8.60</td>
                        <td>32 MB</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>8.60</td>
                        <td>32 MB</td>
                        <td>12</td>
                    </tr><tr>
                        <td>8.60</td>
                        <td>32 MB</td>
                        <td>12</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </body>
</html>